@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ededed;
  --foreground: #1a1a1a; /* Default dark text */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed; /* Light text */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

/* Utility class for blue text with margin */
.ttt {
  @apply text-blue-500 text-center mt-[200px];
}

/* Swiper Pagination */
.swiper-pagination {
  @apply relative mt-10 sm:mt-14 md:mt-16 flex flex-row justify-center items-center gap-1 w-full left-0 transform-none;
}

@media screen and (max-width: 768px) {
  .swiper-pagination {
    @apply !right-60 !top-[55%] !flex-col gap-1 w-auto;
  }
}

/* Active bullet styling */
.swiper-pagination-bullet-active {
  @apply !w-4 !h-4 !bg-white !opacity-100;
}

/* Underline hover effect */
.hover-underline {
  position: relative;
}

.hover-underline::after,
.hover-underline::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #ff0000, #00ffff);
  transition: transform 0.3s ease-out;
}

.hover-underline::after {
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
}

.hover-underline::before {
  top: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
}

.hover-underline:hover::after,
.hover-underline:hover::before {
  transform: scaleX(1);
}

/* Fullscreen width and height */
body, html {
  @apply m-0 p-0 w-screen min-h-screen overflow-x-hidden;
}
